:root {
    --width: 24em;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

body {
    width: var(--width);
}

button {
    display: inline-block;
    border: none;
    width: 22em;
    margin: 1em;
    padding: 1em 0;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 1em;
}

main {
    margin: 1em;
}

section {
    border: 1px solid black;
    padding: 1em;
    width: 100%s;
}

section:not(:last-child) {
    margin-bottom: 1em;
}

.loading {
    text-align: center;
}
